@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-subtle: 240 4.8% 97.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 10.9%;
    --accent-subtle: 240, 3.7%, 7%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground min-w-full font-sans;
}

body::-webkit-scrollbar {
  width: 20px;
  border-left: 1px solid;
}

body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 16px;
  border: 8px solid transparent;
  @apply bg-foreground;
}

body::-webkit-scrollbar-track {
  width: 4px;
  background-clip: padding-box;
  border-left: 1px solid;
  @apply !bg-background;
  @apply !border-border;
}

.prose p > a {
  @apply text-foreground;
}

html {
  overflow-y: auto; /* Prevent scrollbar disappearing on select dropdowns */
}

/* Code block */
code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono;
  @apply bg-background;
  @apply text-foreground;
  @apply text-sm;
  border-radius: 0;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  @apply p-4;
  margin: 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  white-space: normal;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"],
.token.punctuation,
.token.regex,
.token.important,
.token.variable {
  @apply text-foreground;
}

.token.comment,
.token.prolog,
.token.cdata,
.namespace {
  @apply text-muted-foreground/80;
}

.token.tag,
.token.operator,
.token.symbol,
.token.property,
.token.keyword,
.token.number {
  color: oklch(53.5% 0.2058 2.84);
}

.dark .token.tag,
.dark .token.operator,
.dark .token.keyword,
.dark .token.number,
.dark .token.symbol,
.dark .token.property {
  color: oklch(69.36% 0.2223 3.91);
}

.token.constant,
.token.function,
.token.builtin,
.token.char,
.token.selector,
.token.doctype,
.dark .token.attr-name,
.dark .token.inserted,
.dark .token.deleted,
.dark .token.boolean {
  color: oklch(69.87% 0.2037 309.51);
}

.token.attr-name,
.token.inserted,
.token.deleted,
.token.boolean {
  color: oklch(47.18% 0.2579 304);
}

.token.string,
.token.url,
.token.entity,
.language-css .token.string,
.style .token.string,
.token.class-name,
.token.atrule,
.token.attr-value {
  color: oklch(51.75% 0.1453 147.65);
}

.dark .token.string,
.dark .token.url,
.dark .token.entity,
.dark .language-css .token.string,
.dark .style .token.string,
.dark .token.class-name,
.dark .token.atrule,
.dark .token.attr-value {
  color: oklch(73.1% 0.2158 148.29);
}

.refractor-marker {
  width: max-content;
  @apply -ml-4;
  padding-left: calc(1rem - 2px); /* 1rem margin left - 2px border */
  background-color: oklch(94.58% 0.0293 249.84870859673202);
  border-left: 2px solid oklch(53.18% 0.2399 256.9900584162342);
}

.dark .refractor-marker {
  background-color: oklch(30.86% 0.1022 255.21);
  border-left: 2px solid oklch(71.7% 0.1648 250.79360374054167);
}
